<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">

<hi>...To Do List...</hi>

<form action="/todo/create" method="POST">

<input name="item" type="text" placeholder="add item here">
<input type="submit" value="add">

</form>

<a href="/todo/add" >Add item</a>

<form action="/todo/list" method="GET">
  
  <button type="submit">view list</button>
  
  </form>